@using Oracle.Core.DatabaseManagement
@using Oracle.App.Components.Layout

@inject IDbPathService DbPathService
@inject NavigationManager NavManager

@page "/"
@page "/{OpenNew:bool}"

<OracleTitle Title="Oracle Campaign Tools" />

<h4>Hi there</h4>
<p>You need to create or load a campaign</p>

<MudButton Variant="Variant.Outlined" OnClick="Load">Load Campaign</MudButton>
<MudButton Variant="Variant.Filled" OnClick="MakeNewCampaign">Make a new campaign</MudButton>

@code
{
	[CascadingParameter] public MainLayout? Layout { get; set; }
	[Parameter] public bool OpenNew { get; set; } = false;

	protected override async Task OnInitializedAsync()
	{
		Layout?.EnableDrawer(false);

		if (!OpenNew)
		{
			var dbPath = DbPathService.GetPath();
			var dbUpdated = await DbPathService.SetPath(dbPath);

			if (dbUpdated)
				NavManager.NavigateTo("home");
		}
	}

	private async Task Load()
	{
		var newPath = await DbPathService.GetPathFromUser();
		var pathUpdated = await DbPathService.SetPath(newPath);

		if (pathUpdated)
			NavManager.NavigateTo("home");
	}

	private async Task MakeNewCampaign()
	{
		var newPath = await DbPathService.MakePath("NewCampaign", false);
		var pathUpdated = await DbPathService.SetPath(newPath);
		
		if (pathUpdated)
			NavManager.NavigateTo("home");
	}

}
