@page "/home"
@using Oracle.Data.Models
@using Oracle.Data
@using Microsoft.EntityFrameworkCore
@using Oracle.App.Components.Layout
@using Oracle.Logic.Services
@using Oracle.Logic.Services.CampaignSettings

@inject CharacterService CharacterService
@inject CampaignSettingsService CampaignSettingsService

<h1>Home</h1>

<h5>Characters</h5>
@foreach (var character in Characters)
{
	<div class="card">
		<div>@character.Id</div>
		<div>@character.Name</div>
	</div>
	
}


@code
{
	[CascadingParameter] public MainLayout? Layout { get; set; }
	private CampaignSettings CampaignSettings;
	private List<Character> Characters { get; set; } = new();

	protected override async Task OnInitializedAsync()
	{
		await GetSettings();
		await Refresh();

		UpdateLayout();
	}

	private async Task GetSettings()
	{
		CampaignSettings = await CampaignSettingsService.GetCampaignSettings();
	}

	private void UpdateLayout()
	{
		if (Layout == null) return;
		Layout.AppTitle = CampaignSettings.CampaignName;
		Layout.EnableDrawer();
	}
	
	private async Task Refresh()
	{
		Characters = await CharacterService.GetAllCharacters();

	}
}
