.timeline-Item {
    cursor: pointer;
    border: solid 2px transparent;
    border-radius: 5px;
    height: 40px;
    position: relative;
}

.timeline-Item:hover {
    border-color: black;
}

.timeline-Item.incomplete {
        background: repeating-linear-gradient( 45deg, aqua, #06C3F9 10px);
        font-weight: bold;
        border: solid 2px #B8BFF4;
}

.timeline-Item.incomplete:hover {
    border-color: black;
}

.timeline-Adventure {
    background-color: aqua;
    border: solid 2px aqua;
}

.timeline-Activity {
    background-color: pink;
    border: solid 2px pink;
}

.timeline-Status {
    background-color: gray;
    border: solid 2px gray;
}

.timeline-Nothing {
    border: solid 2px lightgray;
}
