.timeline-Item {
    cursor: pointer;
    border: solid 2px transparent;
    border-radius: 5px;
    height: 40px;
    position: relative;
}

.timeline-Item:hover {
    border-color: black;
}

.timeline-Item.incomplete {
    background-image: linear-gradient(45deg, #808080 25%, transparent 25%), linear-gradient(-45deg, #808080 25%, transparent 25%), linear-gradient(45deg, transparent 75%, #808080 75%), linear-gradient(-45deg, transparent 75%, #808080 75%);
    background-repeat: repeat;
    background-position: right;
}

.timeline-Adventure {
    background-color: aqua;
    border: solid 2px aqua;
}

.timeline-Activity {
    background-color: pink;
    border: solid 2px pink;
}

.timeline-Status {
    background-color: gray;
    border: solid 2px gray;
}

.timeline-Nothing {
    border: solid 2px lightgray;
}
