<div class="d-flex align-center mb-5">
	<div class="d-flex me-auto align-center">
		@if (PreTitleContent != null)
		{
			<div class="me-2">
				@PreTitleContent
			</div>
		}
		<h1>@Title</h1>
		@if (PostTitleContent != null)
		{
			<div class="ms-2">
				@PostTitleContent
			</div>
		}
	</div>
	
	@if (CommandAreaContent != null)
	{
		<div>
			@CommandAreaContent
		</div>
	}
</div>




@code
{
	[Parameter] public required string Title { get; set; }
	[Parameter] public RenderFragment? CommandAreaContent { get; set; }
	[Parameter] public RenderFragment? PreTitleContent { get; set; }
	[Parameter] public RenderFragment? PostTitleContent { get; set; }
}
